<div id="<%= dom_id recommendation %>">
  <p>
    <strong>Doctor:</strong>
    <%= recommendation.doctor_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= recommendation.patient_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= recommendation.title %>
  </p>

</div>
